<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link href="../css/bugfix.css" rel="stylesheet">
    <link href="../css/default.css" rel="stylesheet">
</head>
<body style="background-color: #fff;">

<div class="searchagain">
	<input class="form-control" name="result" placeholder="search" type="text" autocomplete="off" required="required" onkeyup="checkMedicine(this.value)">
  <div id="livesearch"></div>
</div>
<div id="regmedbtn">
<a href="RegisterMedicine.php"> <button>register medicine</button></a>
</div>
    <script src="../js/jquery-3.2.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bugfix.js"></script>
    <script src="../js/livesearch.js"></script>
</body>
</html>