/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  background: url(../images/1.jpg);
  background-size:100% 100%;
  width: 100%;
  height: 600px;/* For at least Firefox */
  min-height: 300px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.search{
  color:#000;
  margin-top:40%;
}
.navbar-nav{
  float: right;
}


.add{
  background-color:rgba(0,0,0,.5);
  height: 500px
}
/*
pharmacy  style
*/

.details{height: 100%}
.img{background:#686868;border-radius: 50%;height: 32%;float: left;width: 12%;margin: 4% 1% 4% 1%;}
.info{text-align: left;margin: 4% 1% 1% 1%}
.details .btn{position: absolute;
bottom: 0;
right: 10%;}

.Register{
height:100%;
width: 100%;
position: absolute;
top: 0;
background-color: rgba(0,0,0,0.5);
z-index: 50;
visibility: hidden;
}
.reg_container{
position: relative;
top: 40%;
left:40%;
height:40%;
width :40%;
}



/*
 * Order
 */
 .Ordertable{
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  width: 500px;
  margin: 50px auto;
  border-radius: .25rem;
}
 .button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}
.Ordertable thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}

.Ordertable th:first-child,
.Ordertable td:first-child {
  padding: 0 15px 0 20px;
}

.Ordertable thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

.Ordertable tbody tr:hover {
  background-color: rgba(237, 28, 64, .1);
  cursor: default;
}

.Ordertable tbody tr:last-child td {
  border: none;
}

.Ordertable tbody td {
  border-bottom: 1px solid #ddd;
}

.Ordertable td:last-child {
  text-align: right;
  padding-right: 10px;
}




/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle; */
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }

}
@media(max-width: 768px){
  .search{
    margin-top:50px;
  }
  .site-wrapper{
    height: 250px
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
