/*
 * Globals
 */

/* Links */


a,
a:focus,
a:hover {
  color: #fff;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-plus:before {
  content: "\002b";
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  background: url(../images/1.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size:100% 100%;
  width: 100%;
  height: 600px;/* For at least Firefox */
  min-height: 300px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.wrapper2{
  height: 500px
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.langselect{
  background-color: #000;
  margin-top: 22%;
  border: none;
}
/*notification*/
.dropdown {
    display:inline-block;
    padding-top : 1%;
    float: left;
  }

.notifications {
   min-width:420px;
  }
.n-active{
    color: red;
  }
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }

 .menu-title {
     color:#ff7788;
     font-size:1.5rem;
      display:inline-block;
      }
 .notification-heading, .notification-footer  {
 	padding:2px 10px;
       }
.dropdown-menu.divider {
  margin:5px 0;
  }

.item-title {
 font-size:1.3rem;
 color:#000;
}
.notifications a.content {
 text-decoration:none;
 background:#ccc;
 }

.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
 }



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.search{
  position: relative;
  margin-top:40%;
}
#livesearch{
  position: absolute;
  color:#000;
  background-color: #ffffff;
  width: 100%;
}
#searchbtn{
  border: none;
  background: none;
}
div.sug:hover{
  background-color: #ccc;
}
div.sug{
  background-color: #fff;
  padding: 1%;
}
a.sug{
  color: #000;
}
.navbar-nav{
  float: right;
}


.add{
  background-color:rgba(0,0,0,.5);
  height: 500px
}
/*
bind user
*/
.bind{
  background:url(../images/3.jpg);
  background-size: 100% 100%;
  border:0px;
}

/*
register  medicine
*/

.darklay{height: 100% ;width: 100%;background-color: rgba(9,9,9,0.6);}
/*
pharmacy  style
*/

.details{height: 100%}
.img{background:#686868;border-radius: 50%;height: 20%;float: left;width: 12%;margin: 4% 1% 4% 1%;}
.info{text-align: left;margin: 0% 1% 1% 1%}
.info h3 {margin-bottom:0.5%;}
.info p{word-wrap: break-word;}
.details .btn{position: absolute;
bottom: 20%;
right: 10%;}

.Register{
height:100%;
width: 100%;
position: absolute;
top: 0;
background-color: rgba(0,0,0,0.5);
z-index: 50;
visibility: hidden;
}
.reg_container{
position: relative;
top: 40%;
left:40%;
height:40%;
width :40%;
}
/*
Patient history
*/
.Patient_info{ height: 200px }
.details-table-2,.bloodPressureTable{float: right;}
.details-table,.details-table-2{margin-top:50px }
.details-table .table tbody tr:first-child td,.details-table-2 .table tbody tr:first-child td{
  border-top: 0px;
}
.details-table .table tbody tr td:first-child,.details-table-2 .table tbody tr td:first-child{
  width: 30%;
}
.details-table .table tbody tr td,.details-table-2 .table tbody tr td{
padding:0px;
}
.Risk{ text-align: left }
.table{padding: 4px}
/*
 * RESULT
 *
*/
.searchagain{
  position: relative;
}

.Resulttable{
  line-height: 150%;
  border-collapse: separate;
  border-spacing: 0px 15px;
  width: 100%;
  font-family: Montserrat, sans-serif;}

.Resulttable th{
  background: #666;
  padding: 12px 0px 12px 0px;
  text-align: center;
  font-size: 200%;
}
.Resulttable td{
  text-align: start;
  background-color: #555;
  padding: 10px;
  font-size: 120%;
  box-shadow: 0px 2px 3px 3px #444;
}


/*
 * Order
 */

 .Ordertable{
  line-height: 50px;
  border-collapse: separate;
  border: 3px solid #ed1c40;
  width: 50%;
  margin: 12% auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
   }
.head-table{
  text-align: center;
  font-size: 260%;
}
.button-order {
  color: #aaa;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 220%;
  }
  .td-button{
    padding-bottom: 1%;
    padding-top: 3%;
    text-align: end;
  }
.add-order:hover {
    color: yellow;
  }

.edit-order:hover {
  color: #0a79df;
}

.delete-order:hover {
  color: #dc2a2a;
}
.details-order:hover {

  color: green;
}

.Ordertable thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}

.Ordertable th:first-child,
.Ordertable td:first-child {
  padding: 0 15px 0 20px;

}

.Ordertable thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

.Ordertable tbody tr:hover {
  background-color: rgba(237, 28, 64, .1);
  cursor: default;
}

.Ordertable tbody tr:last-child td {
  border: none;
}

.Ordertable tbody td {
  border-bottom: 1px solid #ddd;

}
.td-order{
  font-size: 180%;
}


.cancle-button{

  float: left;
}
#error{
  transform: scale(0);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0,.8 );
}
 #wrong-message{
  top:40%;
  position: relative;
  margin: auto;
 font-size: 150%;
  }
.details-body{
  background-color: rgba(0, 0, 0, 0.2);
  color: red;
}
.label-details{
  text-align: start;
  font-size: 150%;
}
.close-icon{
  position: absolute;
  right: 1%;
  color: white;
  top: 10%;
}
.close:hover{

  color: white;
}
/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle; */
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
  .featurette-heading {
    margin-top: 120px;
  }

}
@media(max-width: 768px){
  .search{
    margin-top:50px;
  }
  .site-wrapper{
    height: 250px
  }
   .removeinmd{visibility: hidden;}
   .img{width: 20%;
    margin: 4% 6% 4% 1%;
}
.details .btn{bottom:0px;}
.wrapper2{height: 300px}
.Ordertable{
  width:75%;

}

}

@media(max-width: 480px){
  .Ordertable{
    width:100%;
  }


}


/* My Area Dont Touch!!!!!! */

.select-file{
	color:transparent;
	 margin: 10px auto 0px auto;
	 width: 90px
}

.reg-back{background-image: url(../images/4.jpg);background-size:cover;}
.register-dialog{
  background-color:rgba(255,255,255,0.1);
}
.ph-reg-dialog{
  margin-top :15px;
}

.ph-reg-dialog div input{
  margin: 0px;
}

.regasph,.regasp{display: none}

.register-dialog input{
  margin: 10px
}

.register-dialog p{
  margin-top: 15px;
}

.register-dialog a{
  color: #337ab7;
}
.register-dialog select,
.register-dialog input,.ph-reg-dialog div textarea{
  background-color: #999;
  color: #000
}

.register-dialog ::-webkit-input-placeholder {
    color: #333;
}
.register-dialog :-moz-placeholder {
    /* FF 4-18 */
    color: #333;
}
.register-dialog ::-moz-placeholder {
    /* FF 19+ */
    color: #333;
}
.register-dialog :-ms-input-placeholder {
    /* IE 10+ */
    color: #333;
}


@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .reg-container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#frame{

  width: 100%;
  height: 350px;
}

#regmedbtn{
  /*display: none;*/
  margin-top:40%;
}


/* Still my area DONT TOUCH */
/** Medicine Page */

.medicine-page-container{
	  background-color: #444;
	  margin-top: 20px;
}
.medicine-page-panel{
	  background-color: #555;
}
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
